@using ETicaretDemos.Dto;
@model HomeDto;

@{

    var urunler = TempData["urunler"];
    int id = 0;
    decimal toplam = 0;
    foreach (var item in Model.Sepetim)
    {
        toplam = toplam + item.Toplam;
    }
}
<style>
    img {
        width: 400px;
        height: 400px;
    }
</style>

<div class="row">
    <div class="col-md-8">
        <div class="row">
            @foreach (var item in Model.Urunlerim)
            {
                <div class="col-md-4 mb-4 mt-2">
                    <form action="/Home/SepeteEkle" method="post">
                        <input hidden="hidden" name="id" value="@item.Id">
                        <div class="form-group text-center">
                            <img src="@item.Resim" alt="Resim Bulunamadı" />
                        </div>
                        <h3 class="text-primary" style="font-weight:700;">@item.UrunAdi</h3>
                        <h3 class="text-danger" style="font-weight:700;">@item.BirimFiyati.ToString("#,##0.00") ₺</h3>
                        <input class="form-control" type="number" name="adet" value="1">
                        <div class="form-group text-center mt-2">
                            <button type="submit" class="btn btn-primary btn-block">Sepete Ekle</button>
                        </div>
                    </form>
                </div>
            }
        </div>
    </div>
    <div class="col-md-4">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Ürün Adı</th>
                    <th>Adet</th>
                    <th>Birim Fiyatı</th>
                    <th>Toplam Tutar</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Sepetim)
                {
                    id++;
                    <tr>
                        <td>@id</td>
                        <td>@item.UrunAdi</td>
                        <td>@item.Adet</td>
                        <td>@item.BirimFiyati.ToString("#,##0.000")</td>
                        <td>@item.Toplam.ToString("#,##0.000")</td>
                        <td>
                            <form action="/Home/SepettekiUrunuSil" method="post">
                                <input hidden="hidden" name="id" value="@item.Id">
                                <button type="submit" class="btn btn-danger">Sil</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <hr />
        <label class="form-control">Toplam Tutar: @toplam.ToString("#,##0.000") ₺ </label>
        <h2 class="text-danger">@TempData["odeme"]</h2>
        <form action="/Home/OdemeYap" method="post">
            <button type="submit" class="btn btn-warning mt-2 btn-block">Ödeme Yap</button>
        </form>
    </div>
</div>
